.App {
  text-align: center;
  background-image: url('./assets/img/dayback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  widows: 100vw;
  background-color: lightgray;

  
}

